# Navidrome - Music Streaming Server
NAVIDROME_PORT=4533
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info
ND_SESSIONTIMEOUT=24h
ND_ENABLETRANSCODINGCONFIG=true
ND_MUSICFOLDER=/music
ND_DATAFOLDER=/data
ND_LASTFM_APIKEY=your_lastfm_api_key
ND_LASTFM_SECRET=your_lastfm_secret
TZ=America/Bogota
